@model menu.Models.Dish

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <h4>Danie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Danie
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Data podania
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfServing)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
