@model menu.Models.UsersRoles

@{
    ViewData["Title"] = "Dodaj";
}

<h1>Dodaj</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RolesId" class="control-label">Nazwa Roli</label>
                <select asp-for="RolesId" class ="form-control" asp-items="ViewBag.RolesId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">Użytkownik</label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
