@model menu.Models.UsersRoles

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <h4>Rola użytkownika</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Rola
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Roles.Name)
        </dd>
        <dt class = "col-sm-2">
            Użytkownik
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Wróć do listy</a>
</div>
