@model IEnumerable<menu.Models.Role>

@{
    ViewData["Title"] = "Role";
}

<h1>Role użytkowników</h1>

<p>
    <a asp-action="Create">Dodaj role</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa roli
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> 
                @if (item.Name != "Administrator" && item.Name != "Kucharz"){
                    
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
